
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

// Variables
@import 'variables';

html{
  font-family: Roboto, sans-serif;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.anim-appear {
  opacity: 0.3;
}
 
.anim-appear.anim-appear-active{
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.anim-enter {
  opacity: 0.01;
}
 
.anim-enter.anim-enter-active {
  opacity: 2;
  transition: opacity 5s ease-in;
}

.status--dot{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  margin: 0px 5px 0 0px;
  display: inline-block;
}

.status-text--success{
  color: #4caf50 !important;
}

.status-text--warning{
  color: #ff9800 !important;
}

.status-text--danger{
  color: #ff5722 !important;
}

.status-text--info{
  color: #2196f3 !important;
}

.status-text--reserved{
  color: #9c27b0 !important;
}

.status--success{
  background-color: #4caf50 !important;
}

.status--warning{
  background-color: #ff9800 !important;
}

.status--danger{
  background-color: #ff5722 !important;
}

.status--info{
  background-color: #2196f3 !important;
}

.status--reserved{
  background-color: #9c27b0 !important;
}